/*
 global styles
*/
body, input, textarea {
	color: #373737;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 0.09em;
}

a {
	color: black;
	text-decoration: none;
}
a:focus,a:active,a:hover {
	text-decoration: underline;
}


h1,h2,h3,h4,h5,h6 {
	clear: both;
}

p {
}

blockquote {
	font-style: italic;
	margin: 0 3em;
}



